/*
Creator: Signe Broecker
Date created: 01.17.2020
Date last modified: 01.24.2020
*/
body {
  background-color:rgba(211, 208, 203, 1);
  color: rgba(72, 67, 73, 1);
  font-family: palatino, serif;
  max-width: 900px;
  margin: 0 auto;
}

header, footer {
  background-color: rgba(70, 18, 32, 1);
  color: rgba(231, 229, 223, 1);
  height: 100px;
  text-align: center;
  padding:30px 10px 20px 10px
}

nav a {
  background-color:rgba(149, 113, 134, 1);
  color:rgba(231, 229, 223, 1);
  padding:8px;
  border: thin solid rgba(231,229,223,1);
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 20px;
  width: 100px;
  float:left;
}
nav a:visited {
  color: rgba(32, 30, 80, 1);
}

nav a:hover {
  background-color:rgba(231, 229, 223, 1);
  color: rgba(149, 113, 134, 1)
}

nav a:active {
  font-weight:bold;
}


h1 {
  font-size:2.5em
}

nav {
  border-top:3px dashed rgba(70, 18, 32, 1);
  border-bottom:3px dashed rgba(70, 18, 32, 1);
  margin-top:4px;
}

article img {
  float:left;
}

article {
  margin-bottom: 16px
}

.right-content {
  float: left;
}

.clear-float {
  clear:both;
}
